body {
  background-image: url('/assets/bg.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center; align-items: center;
  font-family: 'Lato';
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#titleHeader {
  background-color: white;
  background-image: url('/assets/header_bg.svg');
    background-repeat: no-repeat;
    background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#navBar, #footer {
  background-color: #3A3A3C;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.postBox {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: white;
  margin: 8px;
  padding: 10px;
}

.title {
  font-family: 'Oswald';
  font-size: 20px;
  color: #3C3C3E;
  text-decoration: none;
}

.images {
  width: 100%;
}